swagger: "2.0"
info:
  description: "Instantly turn your Google Sheet into an API."
  version: "1.0.0"
  title: "Flasheet"
host: "flasheet.co"
basePath: "/api"
paths:
  /{project}/{endpoint}:
    get:
      tags:
        - "Endpoint"
      summary: "Retreive all records from a worksheet."
      description: ""
      operationId: "getAllEndpoint"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: project
          in: path
          description: Project ID
          required: true
          type: string
        - name: endpoint
          in: path
          description: Endpoint Name
          required: true
          type: string
      responses:
        "400":
          description: "Unable to retrieve the contents of the table"
    post:
      tags:
        - "Endpoint"
      summary: "Add a record to a worksheet."
      description: ""
      operationId: "addEndpoint"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: project
          in: path
          description: Project ID
          required: true
          type: string
        - name: endpoint
          in: path
          description: Endpoint Name
          required: true
          type: string
        - name: body
          in: body
          description: Data to be added in worksheet.
          schema:
            type: object
            example:
              name: Test
              coorX: 12.56
              coorY: 33.8
      responses:
        "400":
          description: "Unable to retrieve the contents of the table"
