<%- include("_header") %>

<div class="text-white">
  <div id="particles-js" class="bg-gray-900 w-full h-full"></div>
  <div class="container">
    <nav class="py-2">
      <h1 class="text-3xl font-bold">
        <a href="/"><i class="fas fa-bolt text-yellow-500"></i> flasheet</a>
      </h1>
    </nav>

    <header class="text-center py-6">
      <h2 class="text-4xl lg:text-6xl font-bold leading-tight">
        Instantly turn your <span class="text-green-300">Google Sheet</span>
        <br /><span class="text-3xl lg:text-5xl">into an API.</span>
      </h2>
      <p class="lg:text-xl py-4 text-gray-200">
        Launch your application, website, or whatever at the speed of light!
      </p>
      <div class="pt-10 pb-6">
        <a
          class="btn py-4 bg-yellow-400 text-gray-900 hover:bg-yellow-300"
          href="#"
          ><i class="fab fa-google"></i> Sign In with Google</a
        >
      </div>
    </header>
  </div>
  <main class="-mt-8">
    <img src="/images/hero.png" alt="Turn your google sheet into an api" />

    <div class="pt-6 pb-20 bg-purple-700">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <h3
            class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-white sm:text-4xl sm:leading-10"
          >
            Restful JSON API
          </h3>
          <p
            class="mt-4 max-w-2xl text-xl leading-7 text-purple-200 lg:mx-auto"
          >
            Why reinvent the wheel? An api integrates easily with your
            technology.
          </p>
        </div>

        <div class="mt-10">
          <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
            <li>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center h-12 w-12 rounded-md bg-white text-black"
                  >
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg leading-6 font-medium text-white">
                    Retrieving data (GET)
                  </h4>
                  <p class="mt-2 text-base leading-6 text-purple-200">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Maiores impedit perferendis suscipit eaque, iste dolor
                    cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10 md:mt-0">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center h-12 w-12 rounded-md bg-white text-black"
                  >
                    <i class="fas fa-plus-circle"></i>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg leading-6 font-medium text-white">
                    Adding data (POST)
                  </h4>
                  <p class="mt-2 text-base leading-6 text-purple-200">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Maiores impedit perferendis suscipit eaque, iste dolor
                    cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10 md:mt-0">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center h-12 w-12 rounded-md bg-white text-black"
                  >
                    <i class="fas fa-pen"></i>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg leading-6 font-medium text-white">
                    Updating data (PUT)
                  </h4>
                  <p class="mt-2 text-base leading-6 text-purple-200">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Maiores impedit perferendis suscipit eaque, iste dolor
                    cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10 md:mt-0">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div
                    class="flex items-center justify-center h-12 w-12 rounded-md bg-white text-black"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg leading-6 font-medium text-white">
                    Removing data (DELETE)
                  </h4>
                  <p class="mt-2 text-base leading-6 text-purple-200">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Maiores impedit perferendis suscipit eaque, iste dolor
                    cupiditate blanditiis ratione.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>

<script src="js/particles.min.js"></script>
<script src="js/home.js"></script>

<%- include("_footer") %>
