extends layout.pug

block vars
  - var title="homepage"

block content
  h2 Turn your Google Sheet into an API.
  p Power websites, apps, or whatever you like, all from a spreadsheet.
  a.btn.btn-primary(href="/auth/google") Sign In with Google