<%- include("_header") %>

<nav class="px-4 py-2">
  <h1 class="text-3xl font-bold underline"><a href="/">asheet</a></h1>
</nav>

<header class="text-center py-6">
  <h2 class="text-6xl font-bold leading-tight">Turn your <span class="text-green-600">Google Sheet</span> <br/><span class="text-5xl">into an API.</span></h2>
  <p class="text-xl py-4">Power websites, apps, or whatever you like, all from a spreadsheet.</p>
  <div class="pt-4 pb-6">
    <a class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-4 px-6 rounded" href="/auth/google">Sign In with Google</a>
  </div>
  <img src="images/hero.png" alt="turn sheet into api">
</header>

<div class="container">
  <h2></h2>

</div>

<%- include("_footer") %> 