doctype html  
html(lang='en')
  block vars
  head
    title nsheet - #{title}
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
  body
    nav.navbar.navbar-dark.bg-dark
      a.navbar-brand(href="/") nsheet
    .container.mt-3
      block content