extends ../layout.pug

block vars
  - var title="create project"

block content
  h2 New project
  form(action="/projects/new", method="POST")
    div.form-group
      label(for="name") Project Name
      input.form-control(type="text", id="name", name="name", placeholder="My Project")
    div.form-group
      label(for="url") Spreadsheet URI
      input.form-control(type="text", id="url", name="url", placeholder="https://docs.google...")
    input.btn.btn-primary(type="submit", value="Create")
    a.btn.btn-link(href="/projects") Go back